<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Edit Post</title>
	</head>
	<body>
		<h1>Edit your post <%= link_to 'or not', article_path %></h1>
		<%= render "form" %>
	</body>
</html>