<h1>
List All Articles
</h1>
<h3>
or simply
<%= link_to "Create new article", new_article_path  %>
</h3>
<br/>
<br/>
<br/>
<% if @articles.length >
0 %>
<table>
	<% @articles.each do |article| %>
	<tr>
		<td>
			<h3><%= link_to article.title, article_path(article) %></h3>
			<p>
				<%= article.updated_at %>
			</p>
		</td>
	</tr>
	<% end %>
</table>
<% else %>
<h3>
<%= link_to "Post your first post!", new_article_path %>
</h3>
<% end %>