<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Create Article</title>
		
	</head>
	<body>
		<h1>Something new today? or <%= link_to 'see all posts', articles_path %></h1>
		<%= render "form" %>
	</body>
</html>