<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post Article</title>
	<style>
		h1, form {
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>How about post a new article XYZ Alpha GO GG 3:0 AI WINS?</h1>
	<%= form_for @article do |post| %>
		<p><%= post.text_field :title, placeholder: "Title" %></p>
		<p><%= post.text_area :description, size: "60x30", placeholder: "description" %></p>
		<%= post.submit "Create" %>
	<% end %>
</body>
</html>