<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post Content</title>
	
</head>
<body>
	<h2>
		<%= @article.title %>
	</h2>
	<p>
		<%= @article.description %>
	</p>

	<%= link_to 'Create New Post', new_article_path %>
	<%= link_to 'All Posts', articles_path %>
</body>
</html>