<div align="center" class="container">
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            <p align="right">
                The shadows under the trees <br>
                And in the vines by the boat-house<br>
                Grow dark,<br>
                And the lamps gleam softly.<br><br>

                On the street, far off,<br>
                The sound of the cars, rumbling,<br>
                Moves drowsily.<br>
                The rocks grow dim on the edges of the shore.<br><br>

                The boats with tired prows against the landing<br>
                Have fallen asleep heavily:<br>
                The monuments sleep<br>
                And the trees<br>
                And the smooth slow-winding empty paths sleep.<br>
            </p>
            <footer>Helen Hoyt - Park Going to Sleep</footer>
        </blockquote>

            <%= link_to "TRY IT", new_article_path, class: "btn btn-default btn-lg", role: "button" %>
        <br><br>
    </div>
</div>