<div class="container">
    <div class="jumbotron">
        <h1>Alpha Blog</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem at iure, corporis, deleniti reprehenderit labore, aut ad architecto perferendis officia expedita consectetur doloremque et cupiditate consequatur, aliquid eveniet quaerat. Adipisci.
        </p>
        <br>
        
        <%= link_to "TRY IT", new_article_path, class: "btn btn-default btn-lg", role: "button" %>
        
    </div>
    <!-- <div class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci alias ad cupiditate. Reiciendis aliquid ipsam eligendi provident temporibus, quae, blanditiis quia assumenda? Nobis odio aspernatur ducimus dicta quidem eligendi?
    </div>
    <div class="col-lg-6">
        <a href="https://www.flickr.com/photos/buzz_rozwell/23880451172/">
            <img src="https://c2.staticflickr.com/6/5688/23880451172_4c22f4b9fe_c.jpg" alt="image on flicker"
            style="width: 50%; height: 50%">
        </a>
    </div> -->
</div>