$navbar-default-bg: transparent;

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
html {
    font-size: 100%;
    //text-align: center;
    font-family: 'cwTeXHei', serif;
}

body {
    background-image:url('https://c2.staticflickr.com/6/5688/23880451172_4c22f4b9fe_c.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

table {
    width: 100%;
}

td {
    text-align: center;
    padding: 5px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    width: 75%;
    margin: 0;
    -webkit-box-sizing: border-box;
    /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box;
    /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

#logo {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.8em;
	color: #303938;
}

#logo.hover {
	font-weight: bold;
}

.jumbotron {
    background: transparent;
    padding-top: 10px;
}

.jumbotron p {
    text-shadow: #303938 0.1em 0.1em 0.1em;
    color: white;
    font-size: 1.1em;
    margin-left: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

.footer p {
    color: #303938;
    text-align: center;
    align: center;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 680px;
}

footer a:hover {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    color: #303938;
}

.row {
    padding-left: 10%;
    padding-right: 10%;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    float: right;
}

.description {
    margin-top: 0;
    padding: 10px;
    max-width: 75%;
    max-height: 75%;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    padding-top: 10px;
}

.article-timestamp {
    font-size: 0.75em;
    padding-top: 5px;
    color: #b0b0b0;
}

.all-article-heading {
    padding-bottom: 20px;
}
