<div class="" ="container">
	<footer class="footer">
		
		<p class="text-muted">Copyright &copy; 2016 Alpha Blog devloped by
			<a href="http://github.com/cyberrob">R.W.</a></p>
			
		</footer>
	</div>