<div class="footer">
    <div class="container">
        <h3>
            <small>
                <p>
                    Alpha Blog 2016 devloped by
                    <a href="http://github.com/cyberrob">
                        R.W.
                    </a>
                </p>
            </small>
        </h3>
    </div>
</div>